@use "element-plus/theme-chalk/src/dialog";
@use "element-plus/theme-chalk/src/overlay";

.el-dialog {
  --el-dialog-border-radius: 8px;
  --el-dialog-padding-primary: 0;

  &__header {
    @apply p-[24px];
  }

  &__body {
    @apply p-[24px] pt-0;
  }

  &__footer {
    @apply p-[24px] pt-0;
  }
}