/* UPDATE DEPENDING ON YOUR PROJECT NEEDS */
@layer base {
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  }

  html,
  body,
  #app {
    @apply h-full;
  }

  html {
    font-size: 16px;
    line-height: normal;
  }

  body {
    @apply text-base;
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img,
  svg {
    display: initial;
  }
}